<%@controller = @element.class.to_s.downcase + 's'%> 

<%=link_to "Votes:", new_vote_path(type: @element.class,id: @element), remote: true, class: 'btn_vote'
%><span class="badge num_vote" id= <%="#{@controller}_#{@element.id}"%>><%=@element.votes.length%></span>

<%if @element.user_id == current_user.id%>
| <%=link_to "Edit", {controller: @controller, :action => :edit, user_id: current_user.id, id: @element.id}%>
<%end%>