<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>
    All questions!</q> <small> These are all the questions...</small>
  </h1>
</div>
<div class="row">
<div class="col-sm-3">
<%= render 'layouts/vertical_navbar', layout: false%>
</div>

<%= render(@questions)%>
</div>