<blockquote>
  <p><%=answer.text%> <%= render('questions/vote', locals: { obj: @element = answer })%></p>
  <small><%=User.find(answer.user_id).name%> <cite><%=answer.created_at%></cite></small>
</blockquote>
